---
const experienceItems: {
  title: string;
  date: string;
  roleTasks: string[];
}[] = [
  {
    title: "Frontend Developer - Blueflowtech",
    date: "Sep 2023 - Present",
    roleTasks: [
      "Utilize React and Vue to create responsive and interactive user interfaces based on provided designs or wireframes.",
      "Build reusable and efficient components using React or Vue to ensure consistency and scalability across the application.",
      "Achieve a cohesive design, ensuring responsiveness and accessibility using TailwindCSS.",
      "Leverage Next.js for server-side rendering, routing, and optimizing web applications for performance and SEO.",
      "Implement real-time functionality using socket-based solutions like Socket.IO or WebSockets for live updates and communication between the server and clients.",
      "Work closely with backend developers, UI/UX designers, and other team members to integrate frontend interfaces with backend services and APIs.",
    ],
  },
];

const educationItems: {
  name: string;
  institution: string;
  date: string;
}[] = [
  {
    name: "Software Engineering",
    institution: "Politécnico Grancolombiano",
    date: "2022 - Present",
  },
  {
    name: "Frontend Development",
    institution: "Alura Latam",
    date: "2022 - 2023",
  },
];
---

<section
  id="experience"
  class="relative flex flex-col items-center justify-center py-36"
>
  <img
    src="/figure-2.svg"
    alt="figure"
    class="absolute bottom-80 left-0 right-0 -z-10 h-[440px] w-[360px] blur-[180px] md:bottom-40 md:left-auto md:right-20 md:blur-[200px]"
  />
  <div class="flex max-w-2xl flex-col items-center gap-12">
    <h2 class="w-full text-center font-serif text-5xl sm:text-6xl">
      Experience
    </h2>
    {
      experienceItems.map((item) => (
        <article class="flex w-full flex-col gap-2">
          <h3 class="font-bold">{item.title}</h3>
          <span class="text-sm font-medium italic text-gray-800">
            {item.date}
          </span>
          <ul class="mt-4 flex list-disc flex-col gap-3">
            {item.roleTasks.map((task, i) => (
              <li class="ml-5">{task}</li>
            ))}
          </ul>
        </article>
      ))
    }

    <div class="flex w-full flex-col gap-4">
      <h3 class="font-serif text-3xl">Education</h3>
      <ul class="flex flex-wrap gap-6 sm:gap-14">
        {
          educationItems.map((item) => (
            <li class="flex gap-1">
              <span class="-mt-[2px] text-xl">&bull;</span>
              <div class="flex flex-col ">
                <h4 class="font-bold">{item.name}</h4>
                <span class="mt-1 text-sm font-medium">{item.institution}</span>
                <span class="text-sm italic text-gray-500">{item.date}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
